@charset "utf-8"
/* CSS Document */
body{
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
}

  ul{
  list-style: none;
    

  
}
section{
  width: 100%;
  height: 95vh;
  background-image: url(./img/download.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color:white;
  box-shadow: 2px 2px 12px rgba(0, 0green, o, 2);
  padding: 0px 5%;
}
nav ul{
  display: flex;
}
nav ul li a{
  margin: 30px;
  font-family: myriad pro regular;
  color: #505050
  font-size: 15px;
  font-weight: 700;
}
.para{
  text-align: center;
  color:crimson;
  font-size: 40px;
  
}
.para-1{
  color:crimson;
  font-size: 40px;

}
 .logo{
  font-family: RoadTest;
  color: #000000;
  font-size: 22px;
}
 .active{
  font-weight: bold;
  color: #2d2a2a;
}
 .text-container p:nth-child(1){
   font-family: calibri;
   font-weight: bold;
   color: 6d6d6d;
   font-size: 22px;
 }
  .text-container p:nth-child(2){
    font-family: calibri;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;

  }
  .text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: 403e3e;
    line-height: 30px;
  }
  .text-container p{
        line-height: 0px;
        margin:45px 0px 25px;
    }
   .text-container{
     position: absolute;
     left:13%;
     top:42%;
     transform: translate(-13%,-42%);
   }
   .text-container button{
     width: 130px;
     height: 42px;
     border-radius: 10px;
     font-family: calibri;
     font-weight: bold;
     font-size: 14px;
     outline: none;
     margin: 0px 10px;

   }
   .down-cv {
     background-color: crimson;
     color: #ffffff;
     border: none;
   }
   button:active{
     transform: scale(1.1);
   }
   .model {
     height: 420px;
     position: absolute;
     bottom: 40px;
     left: 85%;
     transform: translateX(-75%);
   }
   .about-container {
     width:80%;
     height: 330px;
     background-color: #ffffff;
     border-radius: 20px;
     box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
     display: flex;
     margin:-7% auto 30px auto;
     position: relative;
     font-weight: bold;
     color: black;
    
   }
   .about-container img{
     height: 250px;
   }
   .about-text {
     width: 500px;
   }
   .about-text p:nth-child(1){
    color:#403e3e;
    font-family: myriad pro;
    font-weight:bold;
    font-size:23px;
    line-height:0px;
    color: black;
   }
   .about-text p:nth-child(2){
    color:#3e3d3d;
    font-size:13px;
    font-family: myriad pro;
    font-weight:bold;
    line-height:5px;
   }
   .about-text p:nth-child(3),.about-text p:nth-child(4){
    color:#7e7d7d;
    font-family:calibri;
    font-size:16px;
   }
   .about-text button{
    width:120px;
    height: 40px;
    color:#ffffff;
    outline:none;
    border:none;
    font-family: calibri;
    background-color:#262525;
   }
   
   .box-container{
    display:flex;
    justify-content: center;
   }
   .box-1,.box-2{
    width: 300px;
    height:320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
    
   }
    
   .box-1{
    background-image:url("./img/images\ \(5\).png");
   }
   
   .box-2{
    background-image: url("./img/images\ \(5\).png");
   }
   .box-1 span,
   .box-2 span,
   {
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#ffffff;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-family: calibri;
    font-weight: bold;
   }
   .box-1 p:nth-child(1),
   .box-2 p:nth-child(1),
   {
    color:#FFFFFF;
    font-family: calibri;
    font-size: 23px;
    line-height:0px;
   }

  .box-1 p:nth-child(2),
  .box-2 p:nth-child(2),
   {
    color:#FFFFFF;
    font-family: calibri;
    font-size: 23px;
    line-height:0px;
   }
   
   
   footer p{
    font-family: calibri;
   }
   footer p:nth-child(1){
    font-size: 30px;
    font-weight:bold;
    color:#191919;
    line-height:10px;
   }
   footer p:nth-child(2){
    font-size: 16px;
    color:#7e7d7d;
    width:600px;
    text-align: center;
   }
  

   {
   
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
